<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head (title='Admin - Ofertas')">

<body>
<div th:replace="fragments/header :: nav"></div>

<div class="container">

    <div class="row mb-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item">Cliente</li>
                    <li class="breadcrumb-item active" aria-current="page">Listagem de Ofertas</li>
                </ol>
            </nav>
            <h3>Listagem de Ofertas</h3>
        </div>
    </div>
    <div class="row  justify-content-center">
        <div class="col-12">

            <div th:if="${deals.empty}" class="text-center">
                <div class="alert alert-secondary text-center" role="alert">
                    Desculpe, não temos nenhuma oferta.
                </div>
            </div>

            <div th:if="${!deals.empty}"  class="row mb-">
                <div th:each="deal : ${deals}" class="col-12 col-md-4">
                    <div class="card deal-card">
                        <img class="card-img-top" th:if="${deal.type.name() == 'PRODUCT'}" src="/assets/images/produto.jpg"/>
                        <img class="card-img-top" th:if="${deal.type.name() == 'PLACE'}" src="/assets/images/cidade.jpg"/>
                        <img class="card-img-top" th:if="${deal.type.name() == 'TRIP'}"src="/assets/images/viagem.jpg"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${deal.title}"></h5>
                            <p class="card-text" th:text="${deal.text}"></p>
                            <div class="text-right">
                                <a th:href="@{'/client/deals/' + ${deal.id}}" class="text-primary">Ver Detalhes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div th:replace="fragments/footer :: jquery"></div>
<div th:replace="fragments/footer :: bootstrap"></div>
</body>
</html>
