<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
</head>
<body>

<script th:fragment="jquery"
        src="./../static/assets/js/jquery.min.js"
        th:src="@{/assets/js/jquery.min.js}"></script>

<script th:fragment="jquery-mask"
        src="./../static/assets/js/jquery.mask.js"
        th:src="@{/assets/js/jquery.mask.js}"></script>

<script th:fragment="bootstrap"
        src="./../static/assets/js/bootstrap.js"
        th:src="@{/assets/js/bootstrap.js}"></script>

<!-- Pages -->
<script th:fragment="admin-deal-details"
        src="./../static/assets/js/pages/admin-deal-details.js"
        th:src="@{/assets/js/pages/admin-deal-details.js}"></script>

</body>
</html>