<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (title)">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${title}">Page Title</title>

    <link rel="icon" href="https://www.peixeurbano.com.br/favicon.png">

    <link href="../../static/assets/css/style.css" rel="stylesheet" th:href="@{/assets/css/style.css}">

</head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-4" th:fragment="nav">
        <a class="navbar-brand text-white" href="#">
            <img src="/assets/images/peixe-urbano.svg" height="30" class="d-inline-block align-top" alt="">
            <span class="mx-2">Challenge</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/admin/deals">Admin</a>
                <a class="nav-item nav-link" href="/client/deals">Cliente</a>
            </div>
        </div>
    </nav>

</html>